.comments-list .comment-box {
	width: 100%;
	float: left;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	margin-bottom: 15px;
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #fcfcfc;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0, 0, 0, 0.05);
	left: -12px;
}
.comment-box .comment-head {
	background: #fcfcfc;
	padding: 10px 12px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #fff;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.comment-box .comment-head .reply {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #a6a6a6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.sendComment {
	float: right;
}
.date {
	margin-right: 20px;
}
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	display: inline-block;
}
.rating > span {
	display: inline-block;
	position: relative !important;
	font-size: 28px !important;
	line-height: 16px !important;
	float: none !important;
	cursor: pointer;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: '\2605';
	position: absolute;
	color: gold;
}
.rating > span.chosen:before,
.rating > span.chosen ~ span.chosen:before {
	content: '\2605';
	position: absolute;
	color: gold;
}
